.Primary {
    background: #1E44D5;
    border-color: #091180;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    min-width: 0;
    padding: 12px 16px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}

.Primary:disabled {
    color: #fff;
    border-style: solid;
    border-color: transparent;
    box-shadow: none;
    background: #ccc;
}

.Primary.error {
    background: red;
}